{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for share in user.shares %}
            <tr>
                <td>{{share.stock.symbol}}</td>
                <td>{{share.stock.name}}</td>
                <td>{{share.number}}</td>
                <td>{{share.stock.price | usd}}</td>
                <td>{{share.total | usd}}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td><strong>{{user.total | usd}}</strong></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Balance:</td>
            <td><strong>{{user.balance | usd}}</strong></td>
        </tr>
    </tfoot>
</table>
{% endblock %}