{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for share in user.shares %}
            <tr>
                <td>{{share.stock.symbol}}</td>
                <td>{{share.stock.name}}</td>
                <td>{{share.number}}</td>
                <td>{{share.stock.price | usd}}</td>
                <td>{{share.total | usd}}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{user.cash | usd}}</strong></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td><strong>{{user.balance | usd}}</strong></td>
        </tr>
    </tfoot>
</table>


<form action="/cash" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="$1000.00" type="number">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>
{% endblock %}