{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for share in user.shares %}
            <tr>
                <td>{{share.stock.symbol}}</td>
                <td>{{share.stock.name}}</td>
                <td>{{share.number}}</td>
                <td>{{share.stock.price}}</td>
                <td>{{share.total}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td><strong>{{user.total}}</strong></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Balance:</td>
            <td><strong>{{user.balance}}</strong></td>
        </tr>
    </tbody>
</table>
{% endblock %}