{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
    <label for="stocks">Select one:</label>
    <select id="stocks" name="symbol" class="form-control">
        {% for share in shares %}
        <option value="{{share.stock.symbol}}">{{share.stock.symbol}}</option>
        {% endfor %}
    </select>
    <input class="form-control" name="shares" placeholder="Shares" type="number">
    <input class="form-control" type="submit" value="Sell">
</form>
{% endblock %}